:root {
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-navy-blue: #2e2f42;
  --color-green: #31d0aa;
  --color-slate: #434455;
  --color-light-slate: #8e8f99;
  --color-cornflower: #e7e9fc;
  --color-cloud: #f4f4fd;
  --color-navy-blue-modal: #2e2f42;
  --color-grey: #2e2f42;
  --color-white: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--color-slate, #434455);
  background-color: var(--color-white, #ffffff);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.header {
  background-color: var(--color-white, #ffffff);
  padding-top: 26px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

/* ----------------header--------------- */

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 4px solid #bf4040;
}
.header {
  background: var(--color-white, #ffffff);
  padding-top: 26px;
  padding-bottom: 26px;
}

.header-contacts {
  font-style: normal;
}
.header-logo-web {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-iris, #4d5ae5);
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-grey, #2e2f42);
}

.header-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-grey, #2e2f42);
}
.header-text:hover,
.header-text:focus {
  color: var(--color-ocean, #404bbf);
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
}
.header-menu {
  display: flex;
}
.contact {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate, #434455);
  font-style: normal;
}
.contact:hover,
.contact:focus {
  color: var(--color-ocean, #404bbf);
}

/* ----------filters----------------------- */

.filter {
  background-color: var(--color-white, #ffffff);
}
.filter-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--color-iris, #4d5ae5);
  background: var(--color-cloud, #f4f4fd);
  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--color-white, #ffffff);
  background: var(--color-ocean, #404bbf);
}
/* ---------------footer------------------ */

.footer {
  background: var(--color-grey, #2e2f42);
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-iris, #4d5ae5);
}
.footer-logo-studio {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-cloud, #f4f4fd);
}

.footer-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-cloud, #f4f4fd);
}

/* ------example----- */

.example-list {
  list-style: none;
}
.example-photo {
  list-style: none;
}
.example-img {
  text-decoration: none;
}
.example-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-grey, #2e2f42);
}
.example-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate, #434455);
}
